/* ==========================================================================
   Author's custom styles
   ========================================================================== */

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
    background: #262525 url(../img/bg-img.png);
    color: #c99500;
    font-family: Courier New;
}

.icon-white {
    opacity: .5;
}

.main {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .15);
}

.icon-step-forward,
.icon-step-backward {
    margin-top: -7px;
    position: absolute;
    right: 5px;
    top: 50%;
}

.icon-step-forward {
    right: -60px;
}

.context {
    margin-left: 0;
    overflow: hidden;
    position: relative;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.context > .scroller {
	background: #f8e7bc;
    box-sizing: border-box;
    height: 500px;
    overflow: auto;
    padding-bottom: 60px;
}

.context p,
.context div {
    color: #000;
}

.context a:link,
.context a:visited,
.context h4 {
    color: #b83711;
}

.context article {
    overflow: hidden;
    padding: 15px;
}

.scroll-to-top {
    left: 0;
    line-height: 14px;
    position: absolute;
    text-align: center;
    transition: top 0.2s;
    -moz-transition: top 0.2s;
    -webkit-transition: top 0.2s;
    top: -20px;
    width: 100%;
}

.scroll-to-top.active {
    top: 0;
}

.side-menu {
    height: 500px;
    margin-left: 0;
    position: relative;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.side-menu ul {
    padding: 0;
}

.side-menu li > a,
.side-menu li > a:focus {
    background: transparent;
    border: 1px solid #262525;
    border-left: none;
    display: block;
    font: normal bold 100% Constantia;
    margin: 0 0 -1px;
    outline: 0;
    padding: 5px 10px;
    transition: all 0.2s;
    -moz-transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

.side-menu li > a:hover {
    background: rgba(38, 37, 37, 0.5);
    outline: 0;
}

.side-menu li > a:focus,
.side-menu li.active > a,
.side-menu li.active > a:hover,
.side-menu li.active > a:focus {
    background: #262525;
    color: #fff;
}

.side-menu li:first-child > a {
    border-radius: 20px 0 0 0;
    -moz-border-radius: 20px 0 0 0;
    -webkit-border-radius: 20px 0 0 0;
}

.side-menu-reserve {
    margin-right: 65px;
    width: 0;
}

.clickable {
    cursor: pointer;
}

a:hover {
    color: #7f6000;
    text-decoration: underline;
}

a:link,
a:visited {
    color: #bf9000;
}