<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="demonstration"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="css/bootstrap.min.css">
        <style>
            body {
                padding-top: 60px;
                padding-bottom: 40px;
            }
        </style>
        <link rel="stylesheet" href="css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel='icon' href='favicon.ico' type='image/x-icon'/>

        <script src="js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="container">

            <div class="row main" ng-controller="ArticleCtrl">
                <nav class="span3 side-menu">
                    <ul class="nav nav-list">
                        <li ng-repeat="article in articles">
                            <a ng-href="{{getHref(article)}}" ng-click="smoothAnchorClick($event, article)">
                                {{article.anchor}}
                                <i ng-if="!article.link" class="icon-chevron-right icon-white pull-right"></i></a>
                        </li>
                    </ul>
                    
                    <i class="icon-step-backward icon-white hide"></i>
                    <i class="icon-step-forward icon-white hide"></i>
                </nav>
                
                <section class="span9 context">
                    <header>
                        <img src="img/top-button.png" class="clickable"></img>
                    </header>
                    <div class="scroller"  scroll-to-toppable>
                        <article ng-repeat="article in articles | filter:noLink">
                            <h4 id="{{article.anchor}}" ng-bind="article.title"></h4>
                            <div ng-bind-html-unsafe="article.content"></div>
                        </article>
                    </div>
                </section>
            </div>
            
            <footer>
                <p>Designed by <a href="http://banana-in-black.blogspot.tw/">Banana-in-Black</a> 2013.</p>
            </footer>
            
        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
        <script>window.angular || document.write('<script src="js/vendor/angular.min.js"><\/script>')</script>

        <script src="js/main.js"></script>
    </body>
</html>
